<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>

    <h2>Available Courses</h2>

    {% if user.role == 'admin' %}
        <a href="{% url 'courses:add_course' %}">Add Course</a>
    {% endif %}       

    <hr>

    {% for course in courses %}
        <div>
            <h3>{{ course.course_name }}</h3>

            <p><strong>Vehicle:</strong> {{ course.get_vehicle_type_display }}</p>
            <p><strong>Level:</strong> {{ course.get_level_display }}</p>

            {% if course.description %}
                <p>{{ course.description }}</p>
            {% endif %}

            <p><strong>Duration:</strong> {{ course.duration_days }} days</p>
            <p><strong>Total Lessons:</strong> {{ course.total_lessons }}</p>
            <p><strong>Price:</strong> Rs. {{ course.fee }}</p>

            <p><strong>Status:</strong> 
                {% if course.is_active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </p>

            <!-- Edit Button -->
            {% if user.role == 'admin' %}
                <a href="{% url 'courses:edit_course' course.id %}">Edit</a>
            {% endif %}

        </div>
        <hr>
    {% empty %}
        <p>No courses available.</p>
    {% endfor %}

</body>
</html>