<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>

    <h2>Available Courses</h2>

   <a href="{% url 'courses:add_course' %}" class="nav-item"><i class='bx bx-cart'></i> <span>Add Courses</span></a>        


    <hr>

    <!-- Sample Course List -->
    <div>
        <h3>Car Driving Course</h3>
        <p>Learn basic to advanced driving.</p>
        <p>Duration: 30 days</p>
        <p>Price: Rs. 5000</p>
    </div>

    <br>

    <div>
        <h3>Bike Riding Course</h3>
        <p>Learn safe bike riding.</p>
        <p>Duration: 15 days</p>
        <p>Price: Rs. 3000</p>
    </div>

</body>
</html>