{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'courses:course_list' %}" class="nav-item"><i class='bx bx-cart'></i> <span>View Available Courses</span></a>
    {% if user.role == 'admin' %}
        <a href="{% url 'trainees:register' %}">Register New Trainee</a>
    {% endif %}

    <a href="{% url 'vehicles:vehicles_list' %}">See Available List</a>
    <a href="{% url 'instructors:instructor_list' %}">See Available Instructors</a>
    <a href="{% url 'training:session_list' %}">See Training Sessions</a>

</body>
</html>