{% extends 'base.html' %}

{% block title %}Instructors{% endblock %}

{% block content %}

<h1>Instructor List</h1>

<div class="top-bar">
    <div class="stats">
        <span>Total: {{ total_instructors }}</span>
        <span>Active: {{ active_instructors }}</span>
    </div>

    <a href="{% url 'instructors:instructor_create' %}">Add Instructor</a>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>License</th>
        <th>Status</th>
        {% if request.user.role == 'admin' %}
            <th>Actions</th>
        {% endif %}
    </tr>

    {% for instructor in instructors %}
    <tr>
        <td>{{ instructor.user.first_name }} {{ instructor.user.last_name }}</td>
        <td>{{ instructor.user.email }}</td>
        <td>{{ instructor.user.phone }}</td>
        <td>{{ instructor.license_number }}</td>
        <td>{{ instructor.get_status_display }}</td>


        {% if request.user.role == 'admin' %}
            <td class="actions">
                <a class="edit" href="{% url 'instructors:instructor_update' instructor.pk %}">Edit</a>
                <a class="delete" href="{% url 'instructors:instructor_delete' instructor.pk %}">Delete</a>
            </td>
        {% endif %}
    </tr>

    {% empty %}
    <tr>
        <td colspan="6">No instructors found.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}