<!DOCTYPE html>
<html>
<head>
    <title>Instructors</title>
</head>
<body>
    <h1>All Instructors</h1>
    <a href="{% url 'instructors:instructor_create' %}">Add New Instructor</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>License</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for instructor in instructors %}
        <tr>
            <td>{{ instructor.first_name }} {{ instructor.last_name }}</td>
            <td>{{ instructor.email }}</td>
            <td>{{ instructor.phone_number }}</td>
            <td>{{ instructor.license_number }}</td>
            <td>{{ instructor.get_status_display }}</td>
            <td>
                <a href="{% url 'instructors:instructor_update' instructor.pk %}">Edit</a> |
                <a href="{% url 'instructors:instructor_delete' instructor.pk %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No instructors found.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>